.action {
  color: black;
}
.scene_heading {
  text-transform: uppercase;
  background-color: #cbcecf;
}
.character {
  text-transform: uppercase;
}

.line_types {
  text-transform: capitalize;
}

.line {
  line-height: 17px;
}
